/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */


 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #a9a9aa;
}

 ::-webkit-scrollbar-thumb:active {
    background: #8d8d8e;
}
